.button{
    border:none;
    color:black;
    display:inline-block;
}
.primary{
    background-color: blue;
}
.secondary{
    background-color: grey;
}
.success{
    background-color: green;
}
.danger{
    background-color: red;
}
.warning{
    background-color: yellow;
}